.partners-slider.js-partners-slider.w-100(data-speed="400")
    .swiper-container
        .swiper-wrapper

            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-aviasales.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-daikin.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-fazer.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-kidburg.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-ikea.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-kvartira.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-mega.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-minimax.svg').default, alt="")
                .swiper-lazy-preloader
            .partners-slider__item.swiper-slide
                img.partners-slider__img.swiper-lazy(data-src=require('../../assets/icons/p-nepspb.svg').default, alt="")
                .swiper-lazy-preloader

    .swiper-button-prev
    .swiper-button-next

