h1.solutions__main-text(data-aos="fade-down", data-aos-delay="250") Комплексные решения для систем электроснабжения в&nbsp;Санкт-Петербурге и&nbsp;ЛО
.row(style="overflow:hidden")

    .col-md-6.col-xl-4.mb-3.mb-md-4.mb-xl-5(data-aos="flip-up", data-aos-delay="250")
        .row
            .col-auto
                img.solutions__img.d-md-none(src=require('../../assets/icons/checkbox.svg').default, alt="Check")
                img.solutions__img.d-none.d-md-block(src=require('../../assets/icons/manager.svg').default, alt="")
            .col
                .solutions__text Консультации и составление технического задания на проектирование и монтаж систем электроснабжения

    .col-md-6.col-xl-4.mb-3.mb-md-4.mb-xl-5(data-aos="flip-up", data-aos-delay="250")
        .row
            .col-auto
                img.solutions__img.d-md-none(src=require('../../assets/icons/checkbox.svg').default, alt="Check")
                img.solutions__img.d-none.d-md-block(src=require('../../assets/icons/development.svg').default, alt="")
            .col
                .solutions__text Разработка проектной и рабочей документации систем электроснабжения
    .col-md-6.col-xl-4.mb-3.mb-md-4.mb-xl-5(data-aos="flip-up", data-aos-delay="250")
        .row
            .col-auto
                img.solutions__img.d-md-none(src=require('../../assets/icons/checkbox.svg').default, alt="Check")
                img.solutions__img.d-none.d-md-block(src=require('../../assets/icons/agreement.svg').default, alt="")
            .col
                .solutions__text Согласование проектной документации систем электроснабжения в заинтересованных организациях

    .col-md-6.col-xl-4.mb-3.mb-md-4.mb-xl-5(data-aos="flip-up", data-aos-delay="250")
        .row
            .col-auto
                img.solutions__img.d-md-none(src=require('../../assets/icons/checkbox.svg').default, alt="Check")
                img.solutions__img.d-none.d-md-block(src=require('../../assets/icons/electrician.svg').default, alt="")
            .col
                .solutions__text Выполнение электромонтажных работ систем электроснабжения
    .col-md-6.col-xl-4.mb-3.mb-md-4.mb-xl-5(data-aos="flip-up", data-aos-delay="250")
        .row
            .col-auto
                img.solutions__img.d-md-none(src=require('../../assets/icons/checkbox.svg').default, alt="Check")
                img.solutions__img.d-none.d-md-block(src=require('../../assets/icons/exploitation.svg').default, alt="")
            .col
                .solutions__text Ввод систем электроснабжения в эксплуатацию

    .col-md-6.col-xl-4.mb-3.mb-md-4.mb-xl-5(data-aos="flip-up", data-aos-delay="250")
        .row
            .col-auto
                img.solutions__img.d-md-none(src=require('../../assets/icons/checkbox.svg').default, alt="Check")
                img.solutions__img.d-none.d-md-block(src=require('../../assets/icons/repair.svg').default, alt="")
            .col
                .solutions__text Обслуживание и ремонт систем электроснабжения
