h1 Slider
.js-work-slider(data-speed="400")
    .swiper-container
        .swiper-wrapper

            .swiper-slide.preview-slider__item
                img.preview-slider__image(src=require('../../assets/images/main-bg.jpg').default, alt="")
            .swiper-slide.preview-slider__item
                img.preview-slider__image(src=require('../../assets/images/main-bg.jpg').default, alt="")
            .swiper-slide.preview-slider__item
                img.preview-slider__image(src=require('../../assets/images/main-bg.jpg').default, alt="")
            .swiper-slide.preview-slider__item
                img.preview-slider__image(src=require('../../assets/images/main-bg.jpg').default, alt="")
            .swiper-slide.preview-slider__item
                img.preview-slider__image(src=require('../../assets/images/main-bg.jpg').default, alt="")
            .swiper-slide.preview-slider__item
                img.preview-slider__image(src=require('../../assets/images/main-bg.jpg').default, alt="")

        .swiper-pagination

        .swiper-button-prev
        .swiper-button-next
